@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import "root.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

i {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .board-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.tile {
	  display: flex;
	  aspect-ratio: 1 / 1;
	  width: 5em;
	  border-radius: 0.25em;
	  border: 1px solid var(--tile-border-color);
	  background-color: var(--tile-color);
	  transition: 0.2s ease-in-out background-color;
	  cursor: pointer;

	  i {
		font-size: 2em;
	  }

	  &:hover {
		background-color: var(--tile-hover-color);
	  }
	}
  }
}