@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import "root.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: var(--font-size);
  color: var(--color);
  user-select: none;
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html {
  width: 100%;
  min-height: 100%;
  background: var(--background);
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2em;
  width: 100%;
  max-width: 1200px;
  padding: 120px 0;
}

i {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 1rem;
  background-color: var(--section-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 80%;
  max-width: 800px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1em;
  border-radius: var(--border-radius);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;

  i {
	margin-right: 0.5em;
  }
}

.dropdown {
  display: flex;
  width: 100%;
  position: relative;

  .dropdown-header {
	display: flex;
	align-items: center;
	background-color: var(--input-background);
	width: 100%;
	padding: 0.75em 1em;
	border-radius: var(--border-radius);
	transition: 0.2s ease-in-out background-color;
	cursor: pointer;

	&:hover {
	  background-color: var(--input-background-hover);
	}

	p {
	  margin: 0;
	}
	i {
	  position: absolute;
	  right: 1em;
	  top: 50%;
	  transform: translateY(-50%);
	}
  }

  .dropdown-content {
	position: absolute;
	width: 100%;
	left: 0;
	top: calc(100% + 0.5em);
	box-shadow: var(--box-shadow);
	background-color: var(--input-background);
	border-radius: var(--border-radius);
	max-height: 0;
	overflow-y: hidden;
	transition: 0.3s ease-in-out;
	transition-property: max-height, opacity;
	opacity: 0.5;

	&.open {
	  max-height: 200px;
	  opacity: 1;
	}

	ol {
	  list-style-type: none;

	  li {
		display: flex;
		padding: 0.75em 1em;
		transition: 0.2s ease-in-out background-color;
		background-color: var(--input-background);
		cursor: pointer;

		&:hover {
		  background-color: var(--input-background-hover);
		}

		i {
		  margin-right: 1em;
		}
	  }

	  li:first-child {
		border-radius: var(--border-radius) var(--border-radius) 0 0;
	  }
	  li:last-child {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
	  }
	}
  }
}

#minesweeper {
  display: flex;
  flex-direction: column;

  header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	i {
	  font-size: calc(var(--font-size) * 2);
	  margin-right: 0.25em;
	}
  }

  .game-options {
	display: flex;
	flex-direction: row;

	article {
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-end;
	  flex: 1;
	  padding: 0.5em;

	  & > p {
		margin-bottom: 0.5em;
	  }

	  &.new-game {
		button {
		  width: 100%;
		  background-color: var(--button-new-game-color);

		  &:hover {
			background-color: var(--button-new-game-hover-color);
		  }
		}
	  }
	}
  }

  .game-info {
	display: flex;
	justify-content: center;
	align-items: center;

	article {
	  display: flex;
	  margin: 0 1em;

	  & > * {
		font-size: calc(var(--font-size) * 1.25);
	  }

	  i {
		margin-right: 0.5em;
	  }
	}
  }

  .board {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1px;
	width: min-content;
	padding: 1em;
	background-color: var(--board-background);

	// 8 x 8
	&.board-size-8 {}
	// 12 x 12
	&.board-size-12 {}
	// 16 x 16
	&.board-size-16 {
		.board-row .tile {
		  width: calc(var(--font-size) * 2);
		}
	}
	// 24 x 24
	&.board-size-24 {
	  .board-row .tile {
		width: calc(var(--font-size) * 2);
	  }
	}

	.board-row {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	  gap: 1px;

	  .tile {
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1 / 1;
		width: calc(var(--font-size) * 3);
		background-color: var(--tile-color);
		transition: 0.2s ease-in-out background-color;
		cursor: pointer;

		i {
		  display: flex;
		  font-size: calc(var(--font-size) * 1.5);
		}

		&:hover {
		  background-color: var(--tile-hover-color);
		}
	  }
	}
  }
}

