@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import "root.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: var(--font-size);
  color: var(--color);
  user-select: none;
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  width: 100%;
  min-height: 100%;
  background: var(--background);
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2em;
  width: 100%;
  max-width: 1200px;
  padding: 120px 0;
}

i {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 1rem;
  background-color: var(--section-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 80%;
  max-width: 800px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1em;
  border-radius: var(--border-radius);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
}
button i {
  margin-right: 0.5em;
}
button.new-game {
  width: 100%;
  background-color: var(--button-new-game-color);
}
button.new-game:hover {
  background-color: var(--button-new-game-hover-color);
}

.dropdown {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 999;
}
.dropdown .dropdown-header {
  display: flex;
  align-items: center;
  background-color: var(--input-background);
  width: 100%;
  padding: 0.75em 1em;
  border-radius: var(--border-radius);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
}
.dropdown .dropdown-header:hover {
  background-color: var(--input-background-hover);
}
.dropdown .dropdown-header p {
  margin: 0;
}
.dropdown .dropdown-header i {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.dropdown .dropdown-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 0.5em);
  box-shadow: var(--box-shadow);
  background-color: var(--input-background);
  border-radius: var(--border-radius);
  max-height: 0;
  overflow-y: hidden;
  transition: 0.3s ease-in-out;
  transition-property: max-height, opacity;
  opacity: 0.5;
}
.dropdown .dropdown-content.open {
  max-height: 200px;
  opacity: 1;
}
.dropdown .dropdown-content ol {
  list-style-type: none;
}
.dropdown .dropdown-content ol li {
  display: flex;
  padding: 0.75em 1em;
  transition: 0.2s ease-in-out background-color;
  background-color: var(--input-background);
  cursor: pointer;
}
.dropdown .dropdown-content ol li:hover {
  background-color: var(--input-background-hover);
}
.dropdown .dropdown-content ol li i {
  margin-right: 1em;
}
.dropdown .dropdown-content ol li:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.dropdown .dropdown-content ol li:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#minesweeper {
  display: flex;
  flex-direction: column;
}
#minesweeper header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#minesweeper header i {
  font-size: calc(var(--font-size) * 2);
  margin-right: 0.25em;
}
#minesweeper .game-options {
  display: flex;
  flex-direction: row;
}
#minesweeper .game-options article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  padding: 0.5em;
}
#minesweeper .game-options article > p {
  margin-bottom: 0.5em;
}
#minesweeper .game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
#minesweeper .game-info .game-info-sec {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
#minesweeper .game-info .game-info-sec article {
  display: flex;
}
#minesweeper .game-info .game-info-sec article > * {
  font-size: calc(var(--font-size) * 1.25);
}
#minesweeper .game-info .game-info-sec article i {
  margin-right: 0.5em;
}
#minesweeper .board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  width: min-content;
  padding: 1em;
  background-color: var(--board-background);
  position: relative;
}
#minesweeper .board.board-size-16 .board-row .tile {
  width: calc(var(--font-size) * 2);
}
#minesweeper .board.board-size-24 .board-row .tile {
  width: calc(var(--font-size) * 2);
}
#minesweeper .board .board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
#minesweeper .board .board-row .tile {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: calc(var(--font-size) * 3);
  background-color: var(--tile-color);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
}
#minesweeper .board .board-row .tile i {
  display: flex;
  font-size: calc(var(--font-size) * 1.5);
}
#minesweeper .board .board-row .tile:hover {
  background-color: var(--tile-hover-color);
}

/*# sourceMappingURL=main.css.map */
