:root {
	/* Static */
	--font-size: 14px;
	--border-radius: 10px;
	--box-shadow: 8px 8px 12px -6px #0F172B;

	/* Main elements */
	--background: linear-gradient(135deg,#0F172B 0%, #1C283C 50%, #0F172B 100%);
	--section-color: #1D293D;
	--button-new-game-color: #155DFC;
	--button-new-game-hover-color: #1447E6;
	--input-background: #314158;
	--input-background-hover: #445470;

	/* Tiles/board styles */
	--board-background: #27374D;
	--tile-color: #526782;
	--tile-hover-color: #9DB2BF;
	--tile-show-color: #DDE6ED;
	--tile-border-color: #000;
	--tile-mine-color: #E55050;

	/* Text */
	--color: #E2E8F0;

	/* Colors */
	--red: #FF5656;
	--blue: #8CA9FF;
	--green: #41A67E;
}

h1, h2 {
	font-size: calc(var(--font-size) * 1.5);
}

.flag {
	color: var(--blue);
}
.bomb {
	color: var(--red);
}
.time {
	color: var(--green);
}